.resultsList {
  display: none;
}
.topbar {
  width: 100%;
  background-color: #FFEBCD;
  text-align: center;
}


body {
  background-color: #DCDCDC;
}
.mainForm{
  padding: 15px;
  float: right;
}
.sidebar {
  float:left;
  background-color: #8fbc8f;
  padding: 15px;
}
.sidebar h3{
  color: #FFEBCD;
}

.sidebar h4{
  color: #FFFFFF;
}

/* stuff for bootsrapped version */
.jumbotron {
  background-color: #FFEBCD;
  text-align: center;
}
.side{
  background-color: #8fbc8f;
  padding: 15px;
}
.side h3{
  color: #FFEBCD;
}

.side h4{
  color: #FFFFFF;
}
